{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description }}</div>
  {{- end }}
</header>

{{- $pages := .Pages.ByDate.Reverse }}

<div class="experience-list">
  {{- range $pages }}
  <article class="experience-entry">
    <div class="experience-header">
      <div class="experience-title-wrap">
        <h2 class="experience-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <span class="experience-venue">{{ .Params.venueShort }}</span>
      </div>
    </div>
    {{- if .Description }}
    <p class="experience-desc">{{ .Description }}</p>
    {{- end }}
    {{- if (ne (.Param "hideSummary") true) }}
    <div class="experience-summary">{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</div>
    {{- end }}
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}
</div>

{{- end }}
